body{
    background: rgba(233,181,44,0.76);
}
.title{
    color: rgba(11,5,5,0.76);
    font-size: 30px;
    text-align: center;
}
.title1{
    color: rgba(4,4,4,0.76);
    font-size: 17px;
}
h3{
    color: rgba(4,4,4,0.76);
    text-align: left;
    margin-right: 10px;
    font-family: "laks";
}
button:hover{
    background-color: #0bbba1;
    color: #000;
}

.button{
    background-color: rgba(145,146,157,0.76);
    width: 130px;
    height: 10vh;
    border-radius: 5px;
    font-size: 15px;
   color: rgb(13,20, 225);
    cursor: pointer;
    margin-right: 20px;
    margin-right: 20px;
    border: unset;
    padding: 1px;
}
img{
width: 70%;
    height: 70vh;

}
hr{
    height: 2px;
    background-color: rgba(219,220,233,0.76);
    border:unset;
}
.home1{
    text-align: left;
}

.imagecp {
    width: 50%;
    height: 50vh;
}

.imageur{
    width:48%;
    height: 50vh;
}
.imagec{
    width:95%;
    height: 60vh;

}
.booking3{
width: 100%;
}
.booking4{
    width: 20%;
    height: 2vh;
    border: unset;
    border-radius: 9px;
    padding: 8px;
 color: rgba(249,12,9,0.76);
    font-weight: bold;
}
.booking5{
    width: 7%;
    margin-left: 50px;
    height: 5vh;
    background-color: rgba(107,249,157,0.76);
    border-radius: 8px;
    border: unset;
    color: rgba(4,8,10,0.76);
    font-size: 18px;
    cursor: pointer;

}
.booking1{
    text-decoration: unset;
   font-weight: normal;
}
.booking6{
    margin-left: 400px;

}
booking5:hover {
    background-color: rgba(1, 14, 6, 0.76);
    color: rgba(163, 244, 216, 0.76);
}
.home1{
    font-weight: lighter;
    text-combine-upright: all ;
}